<nav class="blue accent-4" role="navigation">
    <div class="nav-wrapper">
	 <a href="/" class="brand-logo left"></a>
      <ul class="right hide-on-med-and-down">
	   <li><a href="/"><i class="material-icons">home</i></a></li>
	   <li><a href="../blog">Blog</a></li>
	   <li><a href="../resources">Eszközök</a></li>
	   <li><a href="../consulting">Tanácsadás</a></li>
	   <li><a href="https://adamonfire.eu">EN</a></li>
      </ul>
	  
      <ul id="nav-mobile" class="side-nav">
	   <li><a href="/"><i class="material-icons">home</i>home</a></li>
	   <li><a href="../blog">Blog</a></li>
	   <li><a href="../resources">Eszközök</a></li>
	   <li><a href="../consulting">Tanácsadás</a></li>
	   <li><a href="https://adamonfire.eu">EN</a></li>
      </ul>     

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>